@media screen and (max-width: 1271px) {

*{
	margin: 0;
	padding: 0;
}

iframe {
	width: 90%;
	height: 200px;
	margin-top: 0px;
	border: none;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	margin: auto;
}

.folha {
	position: absolute;
}

img#folha1{
	width: 150px;
	top: 750px;
	padding-left: 100px;
}

img#folha2{
	width: 150px;
	top: 900px;
	padding-left: 200px;
}

img#folha3{
	width: 150px;
	top: 1000px;
	padding-left: 260px;
}

.sol {
	width: 400px;
	position: absolute;
	padding-left: 0px;
	opacity: 50%;
	transition: 0.5s;

}

.sol:hover {
	opacity: 100%;
	transition: 0.5s;
}

.logo {
	position: absolute;
	padding-left: 10px;
	top: 650px;
	height: 110px;
	width: 150px;
	transition: transform 0.5s;

}

.logo:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

.casa1 {
	padding-left: 0;
	padding-top: 30px;
	height: 170px;
	width: 220px;
	margin-left: 100px;
	transition: 0.7s;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	margin: auto;
}

.casa1:hover {
	transform: scale(1.1);
	transition: all 1s;
}

.casa2 {
	position: absolute;
	padding-left: 0;
	margin-top: 80px;
	height: 350px;
	width: 550px;
	margin-left: 750px;
	transition: transform 0.7s;
	display: none;
}

.casa2:hover {
	transform: scale(1.1);
	transition: all 0.7s;
}

.casa3 {
	padding-top: 30px;
	height: 220px;
	width: 320px;
	transition: transform 0.7s;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	margin: auto;
}

.casa3:hover {
	transform: scale(1.1);
	transition: all 0.7s;
}

.banner1 {
	width: 100%;
	height: 500px;
	background:url(imagens/chuva3mod.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.banner2 {
	width: 100%;
	height: 300px;
	background:url(imagens/chuva2mod.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.banner3 {
	width: 100%;
	height: 300px;
	background:url(imagens/chuva4.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.banner4 {
	width: 100%;
	background:url(imagens/banner10mod.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.banner5 {
	width: 100%;
	height: 200px;
	background:url(imagens/banner11.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.banner6 {
	width: 100%;
	background: url(imagens/banner12mod.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.faixamenu {
	width: 100%;
	height: 27px;
	background: #e8e8f0;

}


.faixa {
	width: 100%;
	height: 440px;
	background: #e8e8f0;
}

.faixa2 {
	width: 100%;
	background: linear-gradient(to left, #99ff99 -3%, #e8e8f0 20%);
}

.faixa3 {
	background:url(imagens/florestamod.jpg) no-repeat;
}

img#nuvem {
	padding-top: 0px;
	margin-left: 0px;
}

.faixachover {
	width: 100%;
	background: #e8e8f0;
	box-shadow: 10px 5px 8px black;

}

.faixachover2 {
	width: 100%;
	background: linear-gradient(to top, #003300 -23%, #ffffff 33%);
}

.faixafade {
	width: 100%;
	height: 500px;
	background: linear-gradient(to bottom, black 0%, transparent 100%);
}

img#emoji {
	padding: 30px;
	margin-top: -50px;
	width: 50px;
	transition: transform 0.5s;
	box-shadow: none;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	margin: auto;

}

img#emoji:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

.faixa#faixa360 {
	height: 900px;
}

.faixaem360 {
	height: 500px;
	background: #e8e8f0;
}

.faixafinal {
	margin-top: 50px;
	background: white;
}


body {
	background-color: black;
	color: white;
}

img#banner1 {
	height: 415px;
}

img#whatsapp {
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 50px;
	padding-top: 20px;
}

img#telefone {
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 50px;
	padding-top: 60px;
}

img#gps {
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 50px;
	padding-top: 60px;
}

img#email {
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 50px;
	padding-top: 60px;
}

img#botao {
	position: fixed;
	width: 70px;
	margin-left: 93%;
	margin-top: 40%;
	display: none;
}

h1#multimidia {
	text-align: center;
	font-family: cambria;
	text-transform: uppercase;
	color: black;
	font-size: 45px;
	color: #e6e6e6;
	text-shadow: 2px 2px 2px black;
	padding-top: 70px;
	cursor: default;
}

.bemvindo {
	margin-top: 0px;
	width: 100%;
	height: 180px;
	background: #e8e8f0;
}

h2 {
	color: #52a352;
	text-align: center;
	font-family: cambria;
	font-size: 45px;
	text-shadow: 2px 2px 2px black;
	cursor: default;
}

h2#como {
	font-size: 30px;
	padding-top: 20px;
}

h2#producao {
	margin-top: 0px;
}

h2#condominio360 {
	padding-top: 50px;
	color: #52a352;
	font-size: 30px;
}

h2#final {
	padding-top: 150px;
	font-size: 30px;
}

h2#painelchuva {
	padding-top: 50px;
	font-size: 30px;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -4px;
	left: 0px;

}

nav#menu li {
	padding: 10px;
	font-size: 9px;
	display: inline-block;
	transition: all 0.9s;
	color: #004d00;

}

nav#menu li:hover {
	color: white;
	background-color: #338c33;
	transition: all 0.9s;

}

nav#menu a {
	font-weight: bold;
	color: #004d00;
	font-family: verdana;
	text-decoration: none;
}

nav#menu a:hover {
	color: white;
	transition: 0.3s;
}

p {
	padding-left: 150px;
	padding-right: 150px;
	color: white;
	font-size: 22px;
	text-shadow: 2px 2px 2px black;
	text-align: justify;
	cursor: default;
	text-indent: 30px;
}

p#inicio {
	padding-left: 30px;
	padding-right: 30px;	
	padding-top: 35px;
	color: #000000;
	text-align: justify;
	font-size: 15px;
	text-shadow: none;

}

p#corpo {
	padding-top: 50px;
	padding-left: 200px;
	padding-right: 200px;
	color: black;
	font-size: 20px;
	text-align: justify;
	cursor: default;
	text-shadow: none;
}

p#corpo1 {
	padding-left: 30px;
	padding-right: 30px;	
	padding-top: 35px;
	color: #000000;
	text-align: justify;
	font-size: 15px;
	text-shadow: none;

}

p#corpo2 {
	padding-left: 30px;
	padding-right: 30px;	
	padding-top: 35px;
	color: #000000;
	text-align: justify;
	font-size: 15px;
	text-shadow: none;
}

p#corpo3 {
	padding-left: 30px;
	padding-right: 30px;	
	padding-top: 35px;
	color: #000000;
	text-align: justify;
	font-size: 15px;
	text-shadow: none;

}

p#final2 {
	text-indent: 0px;
	font-size: 15px;
	text-align: center;
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
}

p#num1 {
	color: #333333;
	text-shadow: none;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	text-indent: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

p#num2 {
	color: #333333;
	text-shadow: none;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	text-indent: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

p#endereco {
	color: #333333;
	text-shadow: none;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	text-indent: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

p#grupoemail {
	color: #333333;
	text-shadow: none;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	text-indent: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

p#direitos {
	text-align: center;
	text-shadow: none;
	color: white;
	font-size: 15px;
	text-indent: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

p#chover {
	padding-left: 30px;
	padding-right: 30px;	
	padding-top: 20px;
	color: white;
	text-align: justify;
	font-size: 15px;
	text-shadow: 2px 2px 2px black;
}

a#voltar {
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	color: #52a352;
	transition: 0.5s;
	padding-top: 60px;
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	margin: auto;

}

a#voltar:hover {
	color: darkgreen;
	transition: 0.5s;

}

video#chuva {
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	margin: auto;
	width: 360px;
	box-shadow: 10px 5px 8px black;

}

video#emojipensando {
	margin-top: 10px;
	position: absolute;
	margin-left: 200px;
	display: none;
}

img#cleiton {
	margin-left: -40px;
	margin-top: 50px;
	width: 150px;
	display: none;
}

}
